.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease
}

.sidebar-enter,
.sidebar-leave-active {
  opacity: 0;
  transform: translateX(-110%);
}

.sidebar-enter-active,
.sidebar-leave-active {
  transition: .5s ease
}