//  Блок NavBar
@import '@/assets/styles/modules/page/header/navbar';

.app-main-layout {
  >header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    background-color: #FFF;
    z-index: 100;

    .user-info--wrapper {
      max-width: 25%;
      min-width: 250px;
      display: flex;
      align-items: center;
      position: relative;

      .user--info {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;

        >span {
          padding: .5em 1em;
        }

        >img {
          padding: .5em;
        }
      }

      .user--menu {
        width: 100%;
        position: absolute;
        z-index: 100;
        bottom: 0;
        padding: 0;
        transform: translateY(100%);
        background-color: #FFF;

        >li {
          padding: 0;

          >a {
            display: flex;
            width: 100%;
            padding: 1em;
            border-top: 1px solid #CCC;
            color: #000;
            transition: .2s;

            &:hover,
            &:focus {
              background-color: #F6F6F6;
            }
          }
        }
      }
    }
  }
}