.sidebar {
  width: 25vw;
  position: fixed;
  top: 4em;
  bottom: 0;
  z-index: 99;
  padding: 3em 1em;
  background-color: #FFF;

  ul {
    padding-left: 1em;
    transition: .4s;

    >li {
      padding: 0;

      a {
        display: flex;
        align-items: center;
        padding: .5em;
        transition: .3s;

        &.active,
        &:focus,
        &:hover {
          transform: scale(1.1);
        }
      }

      >ul {
        overflow: hidden;
        padding: 0;
        max-height: 0;
      }

      &:focus,
      &:hover {
        >ul {
          max-height: none;
          overflow: unset;
          padding-left: 1em;
        }
      }
    }
  }
}