<template>
  <div class="content--wrapper">
    <h2>Активность</h2>

    <div class="activity--wrapper">
      <h3>Активность по авторизациям</h3>

      <div class="activity--calendar">
        <!-- Компонент календаря -->
      </div>

      <div class="activity--counters">
        <div class="activity_counter">
          <h6>Пользователей</h6>
          <p>1</p>
          <span>За все время</span>
        </div>
        <div class="activity_counter">
          <h6>Авторизаций</h6>
          <p>0</p>
          <span>За 7 дней</span>
        </div>
        <div class="activity_counter">
          <h6>Новых пользователей</h6>
          <p>1</p>
          <span>За 7 дней</span>
        </div>
      </div>

      <div class="row mt-1 mb-0">
        <div class="activity--last col s6 pl-0">
          <h3>Последние авторизациии</h3>
          <span v-if="true">Нет активности</span>
          <ul v-else>
            <li></li>
          </ul>
        </div>
        <div class="activity--last col s6 pr-0">
          <h3>Новые пользователи</h3>
          <span v-if="false">Нет активности</span>
          <ul v-else>
            <li class="user">
              <img class="user--avatar" src="" alt="avatar" />
              <div class="user--info">
                <span class="user--info__login">pochta@gmail.com</span>
                <span class="user--info__activity">Вход по логину и паролю</span>
              </div>
              <div class="user--last-time">
                <span>13 часов назад</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'activity',
  metaInfo: {
    titleTemplate: '%s | Активность',
  },
}
</script>
