<template>
  <div class="content--wrapper">
    <h2>Подключения</h2>

    <div class="connections--wrapper">
      <div class="connection">
        <div class="connection--icon z-depth-1">
          <i class="material-icons">dns</i>
        </div>
        <div class="connection--description">
          <a href="#">Авторизация по логину и паролю</a>
          <span>База данных</span>
        </div>
        <div class="connection--btns">
          <div v-tooltip.top="'Настройка'" class="btn">
            <i class="material-icons">settings</i>
          </div>
          <div v-tooltip.top="'Выгрузить базу'" class="btn">
            <i class="material-icons">cloud_download</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'connections',
  metaInfo: {
    titleTemplate: '%s | Подключения',
  },
}
</script>
