<template>
  <div class="content--wrapper container">
    <h2>Начало работы</h2>

    <div class="cards">
      <div class="card">
        <div class="card--icon">
          <i class="material-icons medium guardify">play_circle_filled</i>
        </div>
        <div class="card--description">
          <h5>Попробуйте свой блок авторизации</h5>
          <p>
            С GuardiFy авторизация на вашем сайте уже готова. Настройте его в соответствии с вашим
            стилем и протестируйте работу.
          </p>
          <div class="card--bottom-links">
            <a href="">Попробовать<i class="material-icons">arrow_right</i></a>
            <a href="">Настроить<i class="material-icons">arrow_right</i></a>
          </div>
        </div>
        <div class="card--main-link">
          <a href="">Попробовать <i class="material-icons">arrow_right</i></a>
        </div>
      </div>

      <div class="card">
        <div class="card--icon">
          <i class="material-icons medium guardify">offline_bolt</i>
        </div>
        <div class="card--description">
          <h5>Интегрируйте GuardiFy в ваше приложение</h5>
          <p>
            Добавьте GuardiFy в любое приложение или сайт. Или для начала попробуйте на нашем
            тестовом примере.
          </p>
          <div class="card--bottom-links">
            <span class="learn_more">
              <i class="material-icons tiny">help_outline</i> Узнать больше о:
              <a href="">Как работает GueardiFy<i class="material-icons tiny">open_in_new</i></a>
            </span>
          </div>
        </div>
        <div class="card--main-link">
          <a href="">Тестировать <i class="material-icons">arrow_right</i></a>
        </div>
      </div>

      <div class="card">
        <div class="card--icon">
          <i class="material-icons medium guardify">cloud_circle</i>
        </div>
        <div class="card--description">
          <h5>Добавьте авторизацию через социальную сеть</h5>
          <p>
            Дайте возможность вашим клиентам выбрать способ авторизациию. Теперь они смогут
            залогиниться в один клик.
          </p>
          <div class="card--bottom-links">
            <span class="learn_more">
              <i class="material-icons tiny">help_outline</i> Узнать больше о:
              <a href="">Подключения<i class="material-icons tiny">open_in_new</i></a>
            </span>
          </div>
        </div>
        <div class="card--main-link">
          <a href="">Добавить соцсети <i class="material-icons">arrow_right</i></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'getting-started',
  metaInfo: {
    titleTemplate: '%s | Начало работы',
  },
}
</script>
