<template>
  <header class="z-depth-2">
    <nav class="main-nav">
      <div class="nav-wrapper">
        <router-link tag="a" to="/" class="nav-logo">
          <h1 class="black-text m-0">GuardiFy</h1>
        </router-link>
      </div>
      <UserMenu />
    </nav>
  </header>
</template>

<script>
export default {
  components: {
    UserMenu: () => import('./UserMenu'),
  },
}
</script>
