<template>
  <div class="user-info--wrapper">
    <div @click="toggleVisibility" class="user--info">
      <span>{{ getUserInfo.name }}</span>
      <img :src="getUserInfo.avatar" alt="img" />
      <i class="material-icons tiny my-auto">{{ menuOpened ? 'expand_less' : 'expand_more' }}</i>
    </div>
    <transition name="fade">
      <ul v-if="menuOpened" class="user--menu z-depth-2">
        <li>
          <a href="#" @click.prevent="toggleSideBar">
            <i class="material-icons tiny mr-1">menu_open</i>
            Меню
          </a>
        </li>
        <li>
          <router-link :to="'/'" tag="a">
            <i class="material-icons tiny mr-1">settings</i>
            Настройки
          </router-link>
        </li>
        <li>
          <router-link :to="'/login'" tag="a">
            <i class="material-icons tiny mr-1">exit_to_app</i>
            Выход
          </router-link>
        </li>
      </ul>
    </transition>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  data() {
    return {
      menuOpened: false,
    }
  },
  computed: {
    ...mapGetters(['getUserInfo', 'sideBarOpened']),
  },
  methods: {
    ...mapMutations(['openSideBar', 'closeSideBar']),

    toggleVisibility() {
      this.menuOpened = !this.menuOpened
    },
    toggleSideBar() {
      if (this.sideBarOpened) this.closeSideBar()
      else this.openSideBar()
    },
  },
}
</script>
