<template>
  <transition name="sidebar">
    <aside v-if="sideBarOpened" class="sidebar z-depth-2">
      <ul>
        <li>
          <router-link
            :to="{ name: 'getting-started' }"
            :class="checkRouteName('getting-started')"
            tag="a"
          >
            <i class="material-icons mr-1">explore</i>
            Начало работы
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'activity' }" :class="checkRouteName('activity')" tag="a">
            <i class="material-icons mr-1">speed</i>
            Активность
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'connections' }" :class="checkRouteName('connections')" tag="a">
            <i class="material-icons mr-1">settings_input_component</i>
            Подключения
          </router-link>
        </li>
        <li>
          <router-link
            :to="{ name: 'attack-protection' }"
            :class="checkRouteName('attack-protection')"
            tag="a"
          >
            <i class="material-icons mr-1">security</i>
            Защита от атак
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'monitoring' }" :class="checkRouteName('monitoring')" tag="a">
            <i class="material-icons mr-1">analytics</i>
            Мониторинг
          </router-link>
        </li>
      </ul>
    </aside>
  </transition>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['sideBarOpened']),
  },
  methods: {
    checkRouteName(name) {
      if (this.$route.name === name) return { active: true }
      return ''
    },
  },
}
</script>
