.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fff;

  .nav-wrapper {
    .nav-logo {
      width: auto;
      height: auto;
      padding: .5em 1em;

      // Пока нет картинки (временно)
      h1 {
        font-size: 2em;
      }

      >img {
        height: 1.7em;
      }
    }

    ul {
      list-style: none;
      float: left;
      margin: 0;
      padding: 0;
      background: #fff;

      >li {
        position: relative;
        float: left;
        margin: 0;
        padding: 0;

        >a {
          display: block;
          padding: calc(1em + 1em / 3);
          color: black;
          font-size: 1em;
          line-height: 1.1em;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          text-transform: uppercase;
          text-decoration: none;
          cursor: pointer;
        }

        &.active,
        &:hover,
        &:focus {
          background: #54aa55;

          >a {
            color: #fff;
          }
        }

        &:hover,
        &:focus {
          >ul {
            display: block;
          }
        }

        >ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          border: 0.2em solid #54aa55;
          z-index: 3;

          >li {
            float: none;
            width: auto;
          }

          a {
            white-space: nowrap;
            padding: calc(0.7em + 0.7em / 3);
            font-size: 0.8em;
            line-height: 1em;
          }

          ul,
          ul ul {
            top: 0;
            left: 100%;
          }
        }
      }
    }
  }
}