<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>

    <div v-if="false" class="data-loading">
      <Preloader />
    </div>
  </div>
</template>

<script>
import EmptyLayout from '@/layouts/EmptyLayout'
import MainLayout from '@/layouts/MainLayout'

export default {
  name: 'App',
  components: {
    MainLayout,
    EmptyLayout,
  },
  metaInfo: {
    title: 'GuardiFy',
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || 'Empty') + 'Layout'
    },
  },
}
</script>

<style lang="scss">
@import 'assets/styles/style.scss';
</style>
