// Reset
@import '@/assets/styles/modules/settings/reset';

// materialize
@import '@/assets/styles/modules/materialize/materialize';

// a.k.a. Bootstrap (Только необходимое)
@import '@/assets/styles/modules/settings/bootstrap';

// Preloader styles
@import '@/assets/styles/modules/extra/preloader';

/* Vue transition */
@import '@/assets/styles/modules/settings/vue-transitions';

// Блок Header
@import '@/assets/styles/modules/page/header';

// Блок SideBar
@import '@/assets/styles/modules/page/sidebar';

.app-main-layout {
  min-height: 100vh;
  position: relative;
}

/* Иконочный шрифт */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Materialize/MaterialIcons.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: bottom;
}

// Pending data indicate
.data-loading {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
}
// page content
.content--wrapper {
  padding: 2em;

  h2 {
    font-size: 3em;
    margin: 2rem 0;
  }

  // getting-started page
  .cards {
    margin-top: 3rem;

    .card {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 2em;
      border-radius: .5em;

      .card--icon {
        flex-basis: calc(100% / 12);
        padding: .5em;

        .material-icons {
          border-radius: 50%;
          color: #FFF;
        }

        img {
          width: 100%;
          border-radius: 50%;
          background-color: #CCC;
        }
      }

      .card--description {
        flex-basis: calc(100% / 12 * 8);
        padding: .5em;

        h5 {
          font-size: 1em;
          color: black;
          margin: 0;
          margin-bottom: 1em;
        }

        p {
          font-size: 1em;
          color: #CCC;
          margin: 0;
          margin-bottom: 1em;
        }

        .card--bottom-links {
          >a {
            margin-right: 2em;
            transition: .4s;

            .material-icons {
              vertical-align: text-top;
            }

            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
      }

      .card--main-link {
        flex-basis: calc(100% / 12 * 3);
        display: flex;
        align-items: center;
        padding: .5em;
        text-align: right;

        >a {
          white-space: nowrap;

          .material-icons {
            vertical-align: text-top;
          }

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // activity page
  .activity--wrapper {
    margin-top: 5em;

    h3 {
      font-size: 1em;
      font-weight: 500;
      margin: .5em 0;
      padding-bottom: .5em;
      border-bottom: 1px solid #CCC;
    }

    .activity--calendar {
      height: 200px;
    }

    .activity--counters {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1em 6em;

      border: {
        top: 1px solid #CCCCCC77;
        bottom: 1px solid #CCCCCC77;
      }

      .activity_counter {
        text-align: center;

        h6 {
          font-size: 1em;
          margin: 0;
        }

        p {
          font-size: 3rem;
          margin: 1rem 0;
        }

        span {
          font-size: 1em;
          color: #CCC;
        }
      }
    }

    .activity--last {
      >ul {
        padding-top: 2em;
      }

      >span {
        font-size: 1em;
      }

      .user {
        display: flex;
        margin: .5em 0;
        padding: 0;
        margin-bottom: 1em;

        &--avatar {
          flex-basis: calc(100% / 12);
          display: flex;
          align-items: center;
        }

        &--info {
          flex-basis: calc(100% / 12 * 9);
          display: flex;
          flex-flow: column;
          padding: 0 1em;

          &__login {
            font-size: 1em;
            font-weight: 500;
            padding-bottom: 0.5em;
          }

          &__activity {
            font-size: 1em;
            color: #CCC;
          }
        }


        &--last-time {
          flex-basis: calc(100% / 12 * 2);
          display: flex;
          align-items: center;
          justify-content: end;

          >span {
            color: #CCC;
          }
        }
      }
    }
  }

  // connections page
  .connections--wrapper {
    .connection {
      display: flex;
      padding: 1em;
      border-top: 1px solid #CCCCCC;
      background-color: #CCCCCC33;

      &--icon {
        flex-basis: calc(100% / 12);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: #CCCCCC77;
        padding: .5em;
      }

      &--description {
        flex-basis: calc(100% / 12 * 8);
        display: flex;
        flex-flow: column;
        padding: 0 1em;

        >span {
          padding-top: 1em;
          text-transform: uppercase;
          color: #CCC;
        }
      }

      &--btns {
        flex-basis: calc(100% / 12 * 3);
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: end;
        align-items: center;

        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          background-color: #CCCCCC77;
          padding: .5em;
          margin-left: 1em;
        }
      }
    }
  }

  .learn_more {
    font-size: .8rem;
    color: #CCC;

    >a {
      transition: .4s;

      .material-icons {
        vertical-align: text-top;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}