<template>
  <div class="app-main-layout">
    <Navbar />

    <SideBar />

    <main class="app-content">
      <div class="app-page">
        <router-view />
      </div>
    </main>
  </div>
</template>

<script>
export default {
  components: {
    Navbar: () => import('@/components/header/Navbar'),
    SideBar: () => import('@/components/sidebar/SideBar'),
  },
}
</script>
